<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/users.css">
    <title>Hobbies</title>
</head>
<body>
    <%-include('navbar')-%>
   
        <div style="margin-top: 20vh;text-align: center;">
            <% if(x===false) { %>
        <button class="delete" style="width:20vw;height:10vh;"><a style="color:white;text-decoration: none;" href="/addhobbie/<%=hname%>">Add this as my hobbie</a></button>
        <% } else {%>
            <h2 id="peopleheading2">You are added in this hobbie</h2>
            <%}%>
        </div>

    <div>
        <h2 id="peopleheading2"style=" margin-top:70px;">Users Interested Here</h2>
        <ul style="list-style-type: none; margin-top: 5vh">
            <% for(let i=0;i<people.length;i++) {%>
            <div class="listitem">
                <li> 
                    <img class="userimage" src="https://mayoocado.co.in/mayuk/dist/img/man.png" alt="userimage">
                    <h2 style="display: inline; font-size: 2vw;position:relative;top:12px; margin-left:10vw;margin-right:10vw;margin-top:20px;"><%=people[i].name%></h2>
    
                    <% if(currentuser.friend.indexOf(people[i]._id)!=-1) { %>
                        <img  class="userimage" src="https://i.pinimg.com/474x/af/4c/bc/af4cbc99d2b24c7519067c5849db5dc4.jpg" alt="tick">
                        <% } else if(currentuser.sentreq.indexOf(people[i]._id)!=-1){ %>
                            <h2 id="requestsent" style="display: inline; font-size: 2vw; padding-top:2vh position; top:8px;">Request Sent!</h2>
                            <button class="delete"><a  style="color:white;text-decoration: none;" href="/cancelreq/<%=people[i]._id%>/1">Remove</a></button>
                            <% } else if(currentuser.receivereq.indexOf(people[i]._id)!=-1){%>
                               <button class="delete"> <a style="color:white;text-decoration: none;" href="/acceptreq/<%=people._id%>/1">Accept</a></button>
                                <button class="delete"><a style="color:white;text-decoration: none;" href="/rejectreq/<%=people._id%>/1">Reject</a></button>
                                <% } else {%>
                    <button class="delete"> <a style="color:white;text-decoration: none;" href="/addfriendreq/<%=people[i]._id%>/1">Connect</a></button>
                     <% } %>
                    </li>
                </div>
                    <% } %>
                
            
         </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>